In [2]:
import pandas as pd
import numpy as np

### 1.获取上市公司和子公司关系

In [5]:
df_com = pd.read_excel(r'../../file/subject/chapter3/SSGScompany04.xlsx',sheet_name='Sheet1')

In [7]:
df_com.head(1)

,Unnamed: 0,Unnamed: 0.1,公司名称,地址,公司网址,爬取页,公司名称2,region,province,city
0,0,1781,安徽华茂纺织股份有限公司,安徽省安庆市纺织南路80号,/orgcompany/searchitemdtl/5bc2e76fd05b73a3139c...,4,安徽华茂纺织股份有限公司,"['安徽省', '安庆市', '大观区']",安徽省,安庆市

In [9]:
df_son = pd.read_excel(r'../../file/subject/chapter3/company_info_all05.xlsx',sheet_name='Sheet1')

In [10]:
df_son.head(1)

,Unnamed: 0,公司名称,上市公司名称,公司状态,注册资本,上市公司投资比例,province,city
0,0,上海盛美投资咨询有限公司,甘肃亚盛实业(集团)股份有限公司,存续（在营、开业、在册）,500.0000(万人民币),80%,上海市,上海市

In [12]:
df = pd.merge(df_son,df_com,left_on='上市公司名称',right_on='公司名称2').reset_index()