In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import geopandas as gpd
%matplotlib inline

### 1.前10对网络关联

In [2]:
#step1.读取上市公司和子公司数据，并进行连接
df_com = pd.read_excel(r'../../file/subject/chapter3/SSGScompany04.xlsx')
df_son = pd.read_excel(r'../../file/subject/chapter3/company_info_all05.xlsx')
df = pd.merge(df_son,df_com,left_on='上市公司名称',right_on='公司名称2').reset_index()

In [3]:
#step2.筛选正常营业公司
df['公司状态'] = df['公司状态'].apply(lambda x:'开业' if x == 0 else x)
df = df[-df['公司状态'].str.startswith('吊销')]

In [4]:
df.columns

Index(['index', 'Unnamed: 0_x', '公司名称_x', '上市公司名称', '公司状态', '注册资本', '上市公司投资比例',
       'province_x', 'city_x', 'Unnamed: 0_y', 'Unnamed: 0.1', '公司名称_y', '地址',
       '公司网址', '爬取页', '公司名称2', 'region', 'province_y', 'city_y'],
      dtype='object')

In [68]:
#step3.筛选非同城公司以建立关联
city_net = df[['city_x','city_y']].rename(columns={'city_x':'ZGS_city','city_y':'SSGS_city'})
city_net['count'] = 1
city_net = city_net[-(city_net['ZGS_city'] == city_net['SSGS_city'])]

In [69]:
#step4.处理错误城市数据
city_net = city_net[-(city_net.ZGS_city.isin([0,'','']) | city_net.ZGS_city.isna())]
city_net.ZGS_city = city_net.ZGS_city.apply(lambda x:np.nan if x.isascii() else x)
city_net.dropna(inplace=True)

In [76]:
#step5.聚合城市数据，统计连接次数，筛选出前N条连接
city_net = city_net.groupby(by=['SSGS_city','ZGS_city']).sum().reset_index()
city_net_10 = city_net.sort_values(by='count',ascending=False).head(10)
city_net_10

     SSGS_city ZGS_city  count
1136       北京市      深圳市    885
952        北京市      上海市    423
181        上海市      深圳市    270
1026       北京市      天津市    239
5267       深圳市      北京市    224
5241       深圳市      上海市    218
1110       北京市      武汉市    176
1073       北京市      成都市    169
1225       北京市      重庆市    166
68         上海市      北京市    142

In [93]:
#step6.利用集合去重，便于获取城市坐标
city_lst = []
for i in ['ZGS_city','SSGS_city']:
    for j in city_net_10[i]:
        city_lst.append(j)
city_lst = list(set(city_lst))
city_lst

['武汉市', '北京市', '天津市', '成都市', '重庆市', '上海市', '深圳市']

In [88]:
city_net_10.iloc[1:3,:2]

    SSGS_city ZGS_city
952       北京市      上海市
181       上海市      深圳市

### 2.前50对网络关联

### 3.前100对网络关联