In [16]:
import os
nowdir = os.getcwd()
os.chdir('c:/Users/Administrator/Desktop/')
print(nowdir)
path = 'test.txt'
f1 = open(path,'r',encoding='utf8')
info = f1.read(6)
print(info)
f1.close()

c:\Users\Administrator\Desktop
聪聪是臭屁卡

### 使用with语句

In [19]:
with  open('test.txt','r',encoding='utf8') as f:
    info = f.read(6)
    print(info)

聪聪是臭屁卡

### 用pandas中的read_csv方法读取

In [27]:
import pandas as pd
info = pd.read_csv('定西牛肉面馆.txt',encoding='utf8')
print(info)

,马三牛肉面(民主路店):104.630292,35.597808,甘肃省定西市安定区民主路25-4
0,89度牛肉面:104.644036,35.010946,巩昌镇新街89号
1,自力牛肉面:104.611108,35.602235,甘肃省定西市安定区新城怡馨苑西区北面
2,中国兰州思泊湖牛肉面:104.629676,35.579470,定西市安定区欧康·世纪都会C区
3,清真一碗兰牛肉面蓬灰(临洮店):103.868362,35.393528,甘肃省定西市临洮县洮阳镇北关商贸街江源都市花园商住楼第一层第13号商铺
4,舌尖牛肉拉面(定西总店):104.626613,35.579709,甘肃省定西市安定区鹏程商务宾馆东(友谊南路西)
...,...,...,...
141,兰州牛肉拉面:104.480145,34.853682,甘肃省定西市漳县武阳路18号东70米
142,私房牛肉面:104.703326,34.964886,甘肃省定西市陇西县人民西路辅路
143,李师牛肉面:104.040447,34.446165,甘肃省定西市岷县S306(岷州中路)
144,董师饺子馆:104.040213,34.443533,甘肃省定西市岷县和平中路
145,清真肖老四餐饮(览山国际店):104.618582,35.581442,定西市安定区览山国际4号楼3楼

In [50]:
lst = [['苏州',1800,'中上'],['杭州',2100,'优秀'],['西安',900,'中下']]
path = 'test.csv'
f1 = open(path,'w')
for i in lst:
    f1.writelines(str(i)+'\n')
f1.close()

In [53]:
lst = [['苏州',1800,'中上'],['杭州',2100,'优秀'],['西安',900,'中下']]
path = 'test.csv'
with open(path,'a') as f:
    f.writelines(str(lst))

In [59]:
lst = [['苏州',1800,'中上'],['杭州',2100,'优秀'],['西安',900,'中下']]
dt = pd.DataFrame(lst)
path = 'panda.csv'
dt.to_csv(path)

lst2 = [['武汉',1800,'中上'],['深圳',2100,'优秀'],['贵州',900,'中下']]
dt2 = pd.DataFrame(lst2)
dt2.to_csv(path,mode='a')

dt3 = pd.read_csv(path)
dt3

   Unnamed: 0   0     1   2
0         0.0  苏州  1800  中上
1         1.0  杭州  2100  优秀
2         2.0  西安   900  中下
3         NaN   0     1   2
4         0.0  武汉  1800  中上
5         1.0  深圳  2100  优秀
6         2.0  贵州   900  中下