In [3]:
import xlrd
import os

In [27]:
work_dir = 'c:/Users/Administrator/Desktop/'
os.chdir(work_dir)
file = 'test.xlsx'
data = xlrd.open_workbook(file)
table = data.sheets()[0]
nrows = table.nrows
for i in range(nrows):
    print(table.row_values(i))
data.sheets()

[0.0, '苏州', 1800.0, '中上']
[1.0, '杭州', 2100.0, '优秀']
[2.0, '西安', 900.0, '中下']

[<xlrd.sheet.Sheet at 0x1dc613a35c8>,
 <xlrd.sheet.Sheet at 0x1dc6138a408>,
 <xlrd.sheet.Sheet at 0x1dc6138a988>]

In [29]:
import os
import pandas as pd

In [37]:
work_dir = 'c:/Users/Administrator/Desktop/'
os.chdir(work_dir)
file1 = 'test1.xlsx'
lst = [[0.0, '苏州', 1900.0, '中上'],[1.0, '杭州', 2100.0, '优秀'],[2.0, '西安', 900.0, '中下']]
data1 = pd.DataFrame(lst)
data1.to_excel(file1)

In [38]:
data = pd.read_excel(file1)
data

   Unnamed: 0  0   1     2   3
0           0  0  苏州  1900  中上
1           1  1  杭州  2100  优秀
2           2  2  西安   900  中下

In [10]:
import pandas as pd
import os
os.getcwd()
path =  'test.xlsx'
file = pd.ExcelFile(path)
file.sheet_names
data1 = pd.read_excel(path,sheet_name='Sheet1')
data2 = pd.read_excel(path,sheet_name='Sheet2')
data1
data2

   Unnamed: 0     0     1    2
0           1    苏州    杭州   西安
1           2  1900  2100  900
2           3    中上    优秀   中下