In [29]:
from sqlalchemy import create_engine

In [30]:
import pandas as pd

In [33]:
engine = create_engine('mssql+pyodbc://sa:061111@MS-XHTUQQSLJDLZ/gis?driver=SQL server')

In [77]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('Table_1',conn)
    data3 = pd.read_sql_table('test',conn)

In [78]:
data3.head(10)

   index    0 index2  name
0      0    1   None  None
1      1    2   None  None
2      2    3   None  None
3      3    4   None  None
4      4    5   None  None
5      5    6   None  None
6      6    7   None  None
7      0   11   None  None
8      1   12   None  None
9      2  134   None  None

In [79]:
data3.columns

Index(['index', '0', 'index2', 'name'], dtype='object')

In [69]:
import string
data1 = [1,2,3,4,5,6,7]
data1 = pd.DataFrame(data1)
data1.to_sql('test',engine)

In [73]:
letter = [11,12,134,43,532,54]
data2 = list(letter)
data2

[11, 12, 134, 43, 532, 54]

In [74]:
data2 = pd.DataFrame(data2)

In [75]:
data2.to_sql('test',engine,if_exists='append')