In [1]:
import numpy as np
import pandas as pd

### 1.Series创建

In [12]:
data = np.random.randn(10)
data

array([-0.73923124, -0.08344413, -0.94264503,  0.53902237,  0.03653991,
        0.81426187, -0.59404504, -0.03996963, -0.03709881,  0.89526692])

In [13]:
a = pd.Series(data)
a

0   -0.739231
1   -0.083444
2   -0.942645
3    0.539022
4    0.036540
5    0.814262
6   -0.594045
7   -0.039970
8   -0.037099
9    0.895267
dtype: float64

In [15]:
type(a)

pandas.core.series.Series

In [16]:
lst = [1,2,3,4,5]
s = pd.Series(lst)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
dct = {'No.1':'shenzheng','No.2':'hengzhou','No.3':'shanghai','No.4':'chengdu'}
s2 = pd.Series(dct)
s2

No.1    shenzheng
No.2     hengzhou
No.3     shanghai
No.4      chengdu
dtype: object

### 2.Series元素选择

In [19]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
s[1]

2

In [24]:
s[2:4]

2    3
3    4
dtype: int64

In [29]:
s[[1,3,4]]

1    2
3    4
4    5
dtype: int64

In [27]:
s2

No.1    shenzheng
No.2     hengzhou
No.3     shanghai
No.4      chengdu
dtype: object

In [30]:
s2[['No.1','No.4']]

No.1    shenzheng
No.4      chengdu
dtype: object

In [34]:
s2['No.2':'No.4']

No.2    hengzhou
No.3    shanghai
No.4     chengdu
dtype: object

In [35]:
s2[0:2]

No.1    shenzheng
No.2     hengzhou
dtype: object

In [37]:
a

0   -0.739231
1   -0.083444
2   -0.942645
3    0.539022
4    0.036540
5    0.814262
6   -0.594045
7   -0.039970
8   -0.037099
9    0.895267
dtype: float64

In [39]:
a[a>0]

3    0.539022
4    0.036540
5    0.814262
9    0.895267
dtype: float64

In [40]:
a.max()

0.895266920852771

In [41]:
max(a)

0.895266920852771

In [42]:
a.median()

-0.038534217861794014

In [43]:
a[a>a.median()]

3    0.539022
4    0.036540
5    0.814262
8   -0.037099
9    0.895267
dtype: float64

### 3.Series元素操作

#### 元素增加

In [44]:
s2

No.1    shenzheng
No.2     hengzhou
No.3     shanghai
No.4      chengdu
dtype: object

In [46]:
s2['No.5']='suzhou'
s2

No.1    shenzheng
No.2     hengzhou
No.3     shanghai
No.4      chengdu
No.5       suzhou
dtype: object

In [49]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [50]:
s[5]=4
s

0    1
1    2
2    3
3    4
4    5
5    4
dtype: int64

#### 元素删除

In [56]:
s1 = s2.copy()
s1

No.1    shenzheng
No.2     hengzhou
No.3    guangzhou
No.4      chengdu
No.5       suzhou
dtype: object

In [57]:
s1.drop('No.3')

No.1    shenzheng
No.2     hengzhou
No.4      chengdu
No.5       suzhou
dtype: object

In [58]:
s1

No.1    shenzheng
No.2     hengzhou
No.3    guangzhou
No.4      chengdu
No.5       suzhou
dtype: object

In [59]:
s1.drop('No.2',inplace=True)
s1

No.1    shenzheng
No.3    guangzhou
No.4      chengdu
No.5       suzhou
dtype: object

In [60]:
del s1['No.1']
s1

No.3    guangzhou
No.4      chengdu
No.5       suzhou
dtype: object

#### 元素更改

In [51]:
s2['No.3']

'shanghai'

In [52]:
s2['No.3']='guangzhou'
s2

No.1    shenzheng
No.2     hengzhou
No.3    guangzhou
No.4      chengdu
No.5       suzhou
dtype: object

In [53]:
s[2]

3

In [54]:
s[2]=5
s

0    1
1    2
2    5
3    4
4    5
5    4
dtype: int64

### 4.Series运算

In [70]:
data = np.random.randn(10)
s3 = pd.Series(data)
s3

0   -0.905959
1    1.585808
2   -0.089654
3    2.309564
4    1.007675
5    0.633197
6   -0.472698
7    0.355194
8    0.802147
9    0.046151
dtype: float64

In [71]:
s3 + 1

0    0.094041
1    2.585808
2    0.910346
3    3.309564
4    2.007675
5    1.633197
6    0.527302
7    1.355194
8    1.802147
9    1.046151
dtype: float64

In [74]:
s2 + s2

No.1    shenzhengshenzheng
No.2      hengzhouhengzhou
No.3    guangzhouguangzhou
No.4        chengduchengdu
No.5          suzhousuzhou
dtype: object

In [78]:
a1 = pd.Series({'a':1,'b':2})
b1 = pd.Series({'c':1,'d':2})
a1

a    1
b    2
dtype: int64

In [79]:
a1 + b1

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [80]:
a1 = pd.Series({'a':1,'b':2})
b1 = pd.Series({'a':1,'b':2})
a1 + b1

a    2
b    4
dtype: int64

### 5.Series基本方法和属性

#### 属性

In [83]:
s2.index

Index(['No.1', 'No.2', 'No.3', 'No.4', 'No.5'], dtype='object')

In [85]:
s.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [90]:
s1.index

Index(['No.3', 'No.4', 'No.5'], dtype='object')

In [91]:
s2

No.1    shenzheng
No.2     hengzhou
No.3    guangzhou
No.4      chengdu
No.5       suzhou
dtype: object

In [92]:
s2.values

array(['shenzheng', 'hengzhou', 'guangzhou', 'chengdu', 'suzhou'],
      dtype=object)

#### 方法

In [100]:
np.mean(s)

3.5

In [101]:
s

0    1
1    2
2    5
3    4
4    5
5    4
dtype: int64

In [102]:
s.mean()

3.5

In [103]:
s.keys()

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [104]:
s.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [105]:
np.max(s)

5

In [106]:
s.max()

5

In [107]:
for i in s.index:
    print(i)

0
1
2
3
4
5

In [108]:
for i in s.keys():
    print(i)

0
1
2
3
4
5

In [110]:
for i in s.values:
    print(i)

1
2
5
4
5
4