In [1]:
import numpy as np
import pandas as pd

#### 1.基础操作

In [2]:
df = pd.DataFrame({'data':list(range(6)),'name':list('abcabc')})

In [3]:
df

   data name
0     0    a
1     1    b
2     2    c
3     3    a
4     4    b
5     5    c

In [4]:
df.groupby('name')#先将DataFrame对象按照name列分组

In [5]:
df.groupby('name').sum()#将DataFrame对象按照name列分组后求和

      data
name
a        3
b        5
c        7

In [6]:
df.groupby('name').count()#将DataFrame对象按照name列分组后统计个数

      data
name
a        2
b        2
c        2

#### 2.高级功能

#####  Aggregate、Filter、Transform、Apply

##### 2.1Aggregate 聚合

In [7]:
rng = np.random.RandomState(0)#伪随机数，以0为参照值，每次执行都只能获取相同值
ar = rng.randint(0,10,6)
ar

array([5, 0, 3, 3, 7, 9])

In [8]:
np.random.randint(0,10,6)#随机数，以时间等为参照值，每次执行值都不同

array([7, 2, 6, 2, 8, 2])

In [9]:
df = pd.DataFrame({'key':list('ABCABC'),
                   'data1':ar,
                   'data2':range(6)})
df

  key  data1  data2
0   A      5      0
1   B      0      1
2   C      3      2
3   A      3      3
4   B      7      4
5   C      9      5

In [10]:
df.groupby('key').aggregate([min,'max',np.mean,sum,np.median,'count',np.prod])#aggragate能够同时进行多个操作（函数、字符串），count不加引号貌似不行

    data1                                data2
      min max mean sum median count prod   min max mean sum median count prod
key
A       3   5  4.0   8    4.0     2   15     0   3  1.5   3    1.5     2    0
B       0   7  3.5   7    3.5     2    0     1   4  2.5   5    2.5     2    4
C       3   9  6.0  12    6.0     2   27     2   5  3.5   7    3.5     2   10

In [11]:
df.groupby('key').aggregate({'data1':'count',
                            'data2':'mean'})#aggregate以字典形式对每列操作

     data1  data2
key
A        2    1.5
B        2    2.5
C        2    3.5

##### 2.2Filter过滤

In [12]:
df

  key  data1  data2
0   A      5      0
1   B      0      1
2   C      3      2
3   A      3      3
4   B      7      4
5   C      9      5

In [13]:
def filter_fun(x):#定义一个函数，当对象data1列对标准差大于4时，返回
    return x['data1'].std() > 4
df.groupby('key').std()

        data1    data2
key
A    1.414214  2.12132
B    4.949747  2.12132
C    4.242641  2.12132

In [14]:
df.groupby('key').filter(filter_fun)

  key  data1  data2
1   B      0      1
2   C      3      2
4   B      7      4
5   C      9      5

In [15]:
df.groupby('key').filter(lambda x: x['data1'].std() > 4)

  key  data1  data2
1   B      0      1
2   C      3      2
4   B      7      4
5   C      9      5

##### 2.3Transformation

In [ ]:
def func(x):
    return x - x.mean()
df

In [ ]:
df.groupby('key').mean()

In [ ]:
df.groupby('key').transform(func)

In [ ]:
df.groupby('key').transform(lambda x:x - x.mean())

##### 2.4Apply

In [ ]:
def func1(x):
    x['data1'] /= x['data2'].sum()
    return x
df

In [ ]:
df.groupby('key').sum()

In [ ]:
df.groupby('key').apply(func1)

#### 3.自定义分组

In [ ]:
df

In [ ]:
L = ['a',0,0,'a',1,3]
df.groupby(L).sum()

#### 4.修改索引列，用字典映射索引

In [ ]:
df1 = df.set_index('key')
df1

In [ ]:
mapping = {'A':'yes','B':'no','C':'yes'}
df1.groupby(mapping).sum()

#### 5.任何python函数

In [ ]:
df1.groupby(str.lower).sum()

### fd