In [9]:
lst = [1,2,3,4,5,6,7,8,9,0]
print(lst[3])
print(lst[2:6])

4
[3, 4, 5, 6]

In [15]:
print(lst.index(0))
print(lst[9])

9
0

In [16]:
lst[3] = 'hello'
print(lst)

[1, 2, 3, 'hello', 5, 6, 7, 8, 9, 0]

In [17]:
print(type(lst[2]),type(lst[2:5]))

<class 'int'> <class 'list'>

In [18]:
print(lst[2:5])

[3, 'hello', 5]

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
m = range(10)

In [21]:
m[2]

2

In [22]:
print(m)

range(0, 10)

In [23]:
m[-1]

9

In [24]:
m[1]

1

In [25]:
m.index(9)

9

In [27]:
lst

[1, 2, 3, 'hello', 5, 6, 7, 8, 9, 0]

In [36]:
lst.append('ds''fds''234')

In [37]:
lst

[1, 2, 3, 'hello', 5, 6, 7, 8, 9, 0, 'ds', 'dsfds', 'dsfds234']

In [53]:
del lst[3]

In [54]:
lst

[1, 2, 3, 6, 7, 8, 9, 0]

In [76]:
a = [1,3,4]
b = [2,4,5,6]
a.extend(b)

In [84]:
print(sum(a))
print(min(a))
print(max(a))
print(a.count(3))

25
1
6
1

AttributeError: 'list' object has no attribute 'max'

In [67]:
print(b)

[2, 4, 5, 6]

In [85]:
a.insert(1,4)
print(a)
a.remove(4)
print(a)
a.sort()
print(a)

[1, 4, 3, 4, 2, 4, 5, 6]
[1, 3, 4, 2, 4, 5, 6]
[1, 2, 3, 4, 4, 5, 6]

In [69]:
a.clear()

In [70]:
print(a)

[]

In [86]:
a = [2,3,4]
b = 1

a.append(b)
print(a)

[2, 3, 4, 1]

In [89]:
a = [2,3,4]
b = [1]

a.extend(b)
print(a)

[2, 3, 4, 1]

In [90]:
a = [2,3,4]
a.extend('abc')
print(a)

[2, 3, 4, 'a', 'b', 'c']

In [91]:
a.pop(4)
print(a)

[2, 3, 4, 'a', 'c']

In [92]:
a.remove(3)
print(a)

[2, 4, 'a', 'c']

In [93]:
del a[2]
print(a)

[2, 4, 'c']

In [96]:
a.insert(0,4)
print(a)

[4, 2, 4, 'c']

In [108]:
b = set(a)
print(b)
c = list(b)
print(c)
c.remove('c')
c.sort(reverse=True)
print(c)

{2, 4, 'c'}
[2, 4, 'c']
[4, 2]

In [109]:
a = '''
nihao,
i am ok

how are you?
'''

print(a)

nihao,
i am ok

how are you?

In [110]:
a = 'C:\dsd\dsw'
print(a)

C:\dsd\dsw

In [111]:
print(22 + int('33'))

55

In [112]:
print('22' + str(33))

2233

In [114]:
m = 'a,b,c'
m.split()
b = m.split(',')
print(b)

['a', 'b', 'c']

In [116]:
n = '_'
a = n.join(b)
print(a,type(a))

a_b_c <class 'str'>

In [125]:
print(r'si#\d\w')
print('we have a good result this year, has increased %d%%'%30)
num  = 30 
print('we have a good result this year, has increased {}%'.format(num))
print(f'we have a good result this year, has increased {num}%')

si#\d\w
we have a good result this year, has increased 30%
we have a good result this year, has increased 30%
we have a good result this year, has increased 30%

In [130]:
st1 = 'wahahaha'
st2 =  st1.replace('ha','!',-1)
print(st2)

wa!!!

In [132]:
st = 'a,b,c,d'
st2 = st.split(',')
print(st2)

['a', 'b', 'c', 'd']

In [135]:
a_lst = ['are','you','ok','?']
m = '!'
st = m.join(a_lst)
print(st)

are!you!ok!?

In [136]:
a_str = 'nihaowa'

a_str.startswith('nihao')

True

In [144]:
a_str.endswith('wa')
a_str.isalpha()

True

In [151]:
b_str = a_str.upper()
print(b_str)
b_str = b_str + a_str
print(b_str)
print(b_str.swapcase())
print(b_str.capitalize())

NIHAOWA
NIHAOWAnihaowa
nihaowaNIHAOWA
Nihaowanihaowa

In [153]:
a = ' wahaha'
b = 'wahaha '
print(a == b)

False

In [154]:
a = a.lstrip()
b = b.rstrip()
print(a == b)

True

In [155]:
str1 = 'wahaha'
f = lambda x,y:y.count(x)

f('a',str1)

3