In [1]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_json(r'Project\art_crawl\article\article\spiders\author_use.json')
df.drop(axis=1,columns='Unnamed: 0',inplace=True)
df['journal'] = '城市规划'

#### 1.各作者发表论文数

In [39]:
author_art = df.pivot_table(index='author',columns='journal',values='participation',aggfunc='sum')

In [44]:
author_art.sort_values(by='城市规划',ascending=False).head(3)

journal  城市规划
author
李迎成       2.5
黄军林       2.0
陈昭        2.0

In [50]:
df[['author','author_num']].sort_values(by='author_num',ascending=False).head(3)

    author  author_num
123    贺雪峰         526
126     王芳         353
210    黄贤金         306

In [74]:
df['kw_union'] = df.keywords.apply(lambda x:','.join(x))

In [75]:
df[df['abstract'].str.contains('智能')]

,title,abstract,author,ins,author_num,date,keywords,fund,participation,province,city,journal,kw_union
371,城市研究中的计算机视觉应用进展与展望,"城市图像一直是记录城市发展变迁的重要信息载体,在当前的互联网与大数据时代,随着图片分享网站、...",王辉,清华大学,111,2019年01期,"[计算机视觉, 机器学习, 城市研究, 城市设计, 街景图像]",[国家自然科学基金项目(51478232)],0.5,北京,北京,城市规划,"计算机视觉,机器学习,城市研究,城市设计,街景图像"
828,城市研究中的计算机视觉应用进展与展望,"城市图像一直是记录城市发展变迁的重要信息载体,在当前的互联网与大数据时代,随着图片分享网站、...",刘伦,剑桥大学,10,2019年01期,"[计算机视觉, 机器学习, 城市研究, 城市设计, 街景图像]",[国家自然科学基金项目(51478232)],0.5,英国,剑桥,城市规划,"计算机视觉,机器学习,城市研究,城市设计,街景图像"

In [107]:
lst = ['计算机','数据','智慧','智能','图像识别','算法','机器学习']
col = ['abstract','kw_union','title']
for i in lst:
#     print(i)
    for y in  col:
#         if df[y].str.contains(i):
        df[df[y].str.contains(i)]
#         print(y)
#         if df.abstract.str.contains(i):
#             print(df.title)

In [95]:
df.columns

Index(['title', 'abstract', 'author', 'ins', 'author_num', 'date', 'keywords',
       'fund', 'participation', 'province', 'city', 'journal', 'kw_union'],
      dtype='object')