### 1.读取数据

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [13]:
engine = create_engine('mssql+pyodbc://:@claire/baidu_poi?driver=SQL SERVER')

In [15]:
engine.table_names()

['baidu_poi_房地产',
 'baidu_poi_公司企业',
 'baidu_poi_购物',
 'baidu_poi_交通设施',
 'baidu_poi_教育培训',
 'baidu_poi_金融',
 'baidu_poi_酒店',
 'baidu_poi_丽人',
 'baidu_poi_旅游景点',
 'baidu_poi_美食',
 'baidu_poi_汽车服务',
 'baidu_poi_生活服务',
 'baidu_poi_文化传媒',
 'baidu_poi_休闲娱乐',
 'baidu_poi_医疗',
 'baidu_poi_运动健身',
 'baidu_poi_政府机构',
 'POI',
 'POI_JOIN']

In [16]:
with engine.connect()  as conn,conn.begin():
    data = pd.read_sql_table('POI_JOIN',conn)

C:\Users\cc\Anaconda3\lib\site-packages\sqlalchemy\dialects\mssql\base.py:2605: SAWarning: Did not recognize type 'geometry' of column 'Shape'
  % (type_, name)

In [18]:
data.head()

,OBJECTID,Shape,Join_Count,TARGET_FID,Field1,Unnamed__0,name,lat,lng,sort1,sort2,lat_wgs84,lng_wgs84,ID_CHECK
0,1,b'\xe6\x10\x00\x00\x01\x0c\xc4\xff3\xa3\x8f3[@...,1,1,0,0,丰泽科技园-2号楼,34.176428,108.816795,房地产,写字楼,108.805642,34.171962,835.0
1,2,b'\xe6\x10\x00\x00\x01\x0c\xb0\xa8\x8eCG4[@\xb...,1,2,1,1,高新新区,34.173326,108.827928,房地产,写字楼,108.816850,34.168703,704.0
2,3,b'\xe6\x10\x00\x00\x01\x0c\xc4\xc1\xd9\x0b\x97...,1,3,2,2,丰泽科技园-5号楼,34.175525,108.817244,房地产,住宅区,108.806094,34.171053,835.0
3,4,b'\xe6\x10\x00\x00\x01\x0c\xa8\xc5\x1e|\x963[@...,1,4,3,3,丰泽科技路3号楼,34.175989,108.817210,房地产,住宅区,108.806060,34.171517,835.0
4,5,b'\xe6\x10\x00\x00\x01\x0cx\x04\x96z{3[@\x10\x...,1,5,4,4,鑫垚新区,34.174688,108.815573,房地产,住宅区,108.804412,34.170242,835.0

In [19]:
data.columns

Index(['OBJECTID', 'Shape', 'Join_Count', 'TARGET_FID', 'Field1', 'Unnamed__0',
       'name', 'lat', 'lng', 'sort1', 'sort2', 'lat_wgs84', 'lng_wgs84',
       'ID_CHECK'],
      dtype='object')

### 2.筛选数据，只需要id_check

In [22]:
data_01 = data[['ID_CHECK', 'sort1', 'sort2']]

In [25]:
data_01

        ID_CHECK sort1   sort2
0          835.0   房地产     写字楼
1          704.0   房地产     写字楼
2          835.0   房地产     住宅区
3          835.0   房地产     住宅区
4          835.0   房地产     住宅区
...          ...   ...     ...
169770    8914.0  政府机构   居民委员会
169771    8779.0  政府机构   居民委员会
169772    9184.0  政府机构    各级政府
169773    9319.0  政府机构    行政单位
169774    9318.0  政府机构  政治教育机构

[169775 rows x 3 columns]

In [41]:
data_01.groupby(by='ID_CHECK')

In [40]:
data_01.groupby(by='ID_CHECK')['sort1'].value_counts().unstack()

sort1,丽人,交通设施,休闲娱乐,公司企业,医疗,房地产,政府机构,教育培训,文化传媒,旅游景点,汽车服务,生活服务,美食,购物,运动健身,酒店,金融
ID_CHECK,,,,,,,,,,,,,,,,,
143.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
148.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149.0,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10781.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10787.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
10788.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,3.0
10796.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10799.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN